* {
    font-family: "Open Sans";
}

body {
    height: 512px;
    width: 262px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background-color: black;
}

.numeros {
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100px;
    width: 262px;
    margin-bottom: 20px;
}

.zero {
    color: white;
    font-size: 60px;
    font-weight: 300;
    line-height: 40px;
    margin: 0px;
    margin-right: 20px;
}

.primeira-linha {
    background-color: black;
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.cinza {
    display: flex;
    background-color: #b3b3b3;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.cinza:hover {
    background-color: #b3b3b380;
    cursor: pointer;
}

.cinza-escuro {
    display: flex;
    background-color: #252525;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.cinza-escuro:hover {
    background-color: #25252580;
    cursor: pointer;
}

.laranja {
    display: flex;
    background-color: orange;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.laranja:hover {
    background-color: #ffa50080;
    cursor: pointer;
}

p {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.escuro {
    color: white;
    font-size: 26px;
}

.maior {
    width: 100px;
    justify-content: start;
    padding-left: 15px
}

.branco {
    color: white;
}

.symbol {
    font-size: 30px;
}