* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/0cf2c109-3af1-4a9d-87d7-aecfac5fe881/web/BR-pt-20250217-TRIFECTA-perspective_89944002-ca1f-4c83-b264-922250f76bef_large.jpg);
    background-color: rgba(0, 0, 0, 0.658);
    background-position: center;
    background-blend-mode: darken;
    padding: 0px;
    background-repeat: no-repeat;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40vw;
}



.logo-img {
    height: 80px;
    align-self: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-content: center;
    gap: 15px;
}

select {
    background: rgba(56, 56, 56, 0.288);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 600;
}

.conteudo {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
}

h1 {
    width: 40vw;
    font-size: 56px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.email-vamosla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    height: 50px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
}

.vamosla {
    height: 50px;
    font-size: 24px;
    width: 200px;
    margin-left: 4px;
}